body {
  font-family: Courier;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #555;
  background-color: #fff;
}

h1 {
	 background-color:#44FFA4; 
  font-family: 'Brush Script MT',cursive;
  font-size:100px;
  color: #000000;
  text-align:center;
  
}

header {
  background-color:#44FFA4; 
  color: #000000;
  text-align:center;

}

footer{
	background-color:#000000;
	color:#FFFFFF;
	font-family:Arial;
}

.body1{
	 background-color:#44FFA4; 
  color: #000000;
  	object-fit: fill;
}

nav a {
  margin: 0 15px;
  color: #000000;
  font-size:15px;
  text-align:right;
}

.event{
  background-color:#59326B;
  text-align:left;
  font-size:24px;
  font-family:Arial;
  color:#44FFA4;
  width: 100%;
  float:left;
  margin: auto;
}

.activities{
  background-color:#44FFA4;
  text-align:left;
  font-size:24px;
  font-family:Arial;
  color:#59326B;
  width: 100%;
  float:left;
  margin: auto;
}

.about{
	text-align: center;
	font-size:23px;
	font-family:Arial;
	color:#59326B;
}

.img2 {
	width: 40%
	float:top;
	float:left;
}

.img3 {
	float:top;
	float:right;
	width: 40%;
	height: 70%;
}

.img1{
	width: 100%;
}


.act-btn {
  background-color:#59326B;
  color: white;
  padding: 0.8em 1.5em;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  margin-top: 1em;
  float:right;
}
.acc-btn {
  background-color:#44FFA4;
  color: white;
  padding: 0.8em 1.5em;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  margin-top: 1em;
  float:left;

}
